/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 * 
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav,
.yamm .collapse,
.yamm .dropup,
.yamm .dropdown {
    position: static;
}

.yamm .nav {
    position:relative;
}

.yamm .container {
    position: relative;
}
.yamm .dropdown-menu {
    left: auto;
}

.yamm .dropdown:hover .dropdown-menu {
    display:block;
    position:absolute;
    left:0px;
    display:inline-block;
    right:0px;
}

.yamm .yamm-content {
    padding: 20px 30px;
}
.yamm .dropdown.yamm-fw .dropdown-menu {
    left: 0;
    right: 0;
}

.yamm .button {
    background-color: #f14837;
    bottom: -44px;
    display: block;
    height: 37px;
    left: 0;
    margin: 0 auto;
    /* position: absolute; */
    right: 0;
    width: 134px;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding-top: 7px;
    font-weight: bold;
    text-align: center;
}




ol.bjqs-markers {
    bottom: 9px;
    list-style: outside none none;
    margin: 0;
    right: 6px;
    position: absolute;
    text-align: right;
    width: 100%;
}

ol.bjqs-markers li a
{
    border-radius: 50%;
    width: 26px;
    height: 26px;
    padding: 4px;

    text-align: center;
    margin-right: 3px;

    background: #fff;
    border: 1px solid #FFF;	
    font-size: 12px;
    font-family: "Lato";
    color: rgb( 92, 103, 111 );
    font-weight: bold;
}

ol.bjqs-markers li.active-marker a {
    color: #FFF;
    border: 1px solid #FFF;	
    background: transparent;	
}
